.profile-block
  h4 Practice Test History
  .test-graph-wrapper
    canvas#test-graph width="750" height="400"

javascript:
  // TODO: test completions
  var testScores = [
    {testName: 'Test 1', total: 1200, math: 600, reading: 400, writing: 200},
    {testName: 'Test 2', total: 1580, math: 800, reading: 400, writing: 380},
    {testName: 'Test 3', total: 1622, math: 200, reading: 900, writing: 522},
    {testName: 'Test 4', total: 0, math: 0, reading: 0, writing: 0},
    {testName: 'Test 5', total: 1711, math: 200, reading: 511, writing: 1000},
    {testName: 'Test 1', total: 1200, math: 600, reading: 400, writing: 200},
    {testName: 'Test 2', total: 1580, math: 800, reading: 400, writing: 380},
    {testName: 'Test 3', total: 1622, math: 200, reading: 900, writing: 522},
    {testName: 'Test 4', total: 0, math: 0, reading: 0, writing: 0},
    {testName: 'Test 5', total: 1711, math: 200, reading: 511, writing: 1000}
  ]
  var averageCollegeSatScore = 1620;
