<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
  <head></head>
  <body style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 1rem; line-height: 1.375rem; color: #303438; -webkit-font-smoothing: antialiased; background-color: #eee;" bgcolor="#eee">
    <div style="background-color: #a80005; text-align: center; color: #f4f4f4; font-size: 22px; padding: 20px;" align="center">studimetrics</div>
    <div style="width: 80%; background-color: #fff; margin: 20px auto; padding: 20px; border: 1px solid #d1d6da;">
      <h2 style="font-size: 20px; font-weight: normal; text-align: center; color: #8e99a4; margin: 8px 0 0;" align="center">Welcome to studimetrics<br></h2>
      <p>You're about to start using the most powerful SAT analytics engine on this side of the Prime Meridian. Now that you're a bona fide user, your next step is to log in and get going on your first section.</p>
      <p><%= link_to 'Click here', sign_in_url %> to start</p>
      <p>The studimetrics squad</p>
      <p style="color: #aaa; font-size: 12px; margin: 12px 0 0;">Email: <%= mail_to 'support@studimetrics.com' %></p>
      <p style="color: #aaa; font-size: 12px; margin: 12px 0 0;">Need assistance? Simply reply to this email and we'll get back to you as soon as possible!</p>
    </div>
  </body>
</html>
