css:
  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.375rem;
    color: #303438;
    -webkit-font-smoothing: antialiased;
    background: #eee;
  }
  .header {
    background: #a80005;
    padding: 20px;
    text-align: center;
    color: #f4f4f4;
    font-size: 22px;
  }
  h1 {
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    margin: 20px 0 0 0;
    color: #a80005;
  }
  span.time {
    font-size: 21px;
    display: block;
    margin-top: 8px;
  }
  h2 {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    margin: 8px 0 0 0;
    color: #8e99a4;
  }
  #main-content {
    background: #fff;
    border: 1px solid #d1d6da;
    padding: 20px;
    width: 80%;
    margin: 20px auto;
  }
  .photo {
    width: 72px;
    height: 72px;
    margin: 12px auto;
  }
  .photo img {
    border-radius: 37px;
    border: 3px solid #f4f4f4;
    max-height: 70px;
    background: #efefef;
  }
  table {
    width: 100%;
    margin-top: 12px;
    border-style: border-collapse;
    border-spacing: 12px;
  }
  td {
    width: 50%;
    border: 1px dashed #ddd;
    padding: 18px;
    vertical-align: top;
  }

  .college-comparison table {
     margin: 2px 0 0 0;
     width: auto;
     padding:0;
     border-spacing: 4px;
  }

  .college-comparison td {
    padding: 0 4px;
    border: none;
  }

  .college-comparison img {
    float: left;
    max-width: 100px;
    max-height: 100px;
    margin-right: 20px;
  }

  .college-comparison .info {
    float: left;
  }

  .college-name {
    width: 230px;
    font-size: 20px;
  }
  .average-sat-score {
    float: left;
    width: 75px;
    margin-right: 10px;
    text-align: center;
    color: #8E99A4;
    font-size: 14px;
    line-height: 16px;
  }
  .number {
    color: #a80005;
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 2px;
  }
  .score {
    font-weight: bold;
    font-size: 22px;
    color: #8e99a4;
    text-align: center;
  }
  .scores {
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-top: 12px;
  }
  .scores:after {
    content:"";
    display:table;
    clear:both;
  }
  .scores .number {
    font-weight: normal;
    line-height: normal;
    color: #333;
    font-size: 18px;
  }
  .math-score, .reading-score, .writing-score {
    width: 33%;
    float: left;
  }
  .time-label {
    text-align: center;
    width: 36px;
    display: inline-block;
    margin-top: -4px;
    color: #666;
    font-size: 14px;
  }
  .hours {
    font-size: 28px;
  }
  h5 {
    margin: 0;
  }
  .hours-studied {
    text-align: center;
    border-spacing: 0;
  }
  .hours-studied td {
    border: none;
    padding-top: 0;
  }
  p.note {
    margin: 12px 0 0 0;
    color: #aaa;
    font-size: 12px;
  }
  .next-exam {
    text-align: center;
  }
  .next-exam .date, .next-exam .days-until {
    float: left;
    width: 50%;
    color: #636669;
  }
  .next-exam h3 {
    font-size: 32px;
    width: 80%;
    margin: 0 auto;
  }
  .next-exam h4 {
    text-align: left;
  }
  .days-until span {
    display: inline-block;
    margin-bottom: 12px;
  }

body
  .header studimetrics

  #main-content
    h2
      ' Welcome to studimetrics<br/>
    p You’re about to start using the most powerful SAT analytics engine on this side of the Prime Meridian. Now that you’re a bona fide user, your next step is to log in and get going on your first section.
    p #{link_to("Click here", sign_in_url)} to start
    p The studimetrics squad
    p.note
      | Email: #{mail_to "support@studimetrics.com"}
    p.note
      Need Assistance? Simply reply to this email and we'll get back to you as soon as possible!

