<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<body style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 1rem; line-height: 1.375rem; color: #303438; -webkit-font-smoothing: antialiased; background-color: #eee;" bgcolor="#eee">
<div style="background-color: #a80005; text-align: center; color: #f4f4f4; font-size: 22px; padding: 20px;" align="center">studimetrics</div>
<div style="width: 80%; background-color: #fff; margin: 20px auto; padding: 20px; border: 1px solid #d1d6da;">
<p style="color: #a80005;">This is it.</p>
<p>We're not too fond of goodbyes so we'll keep this short.</p>
<p>Thank you so much for choosing studimetrics to study for the SAT. We feel incredibly lucky to have been a part of your preparation for the future, even if it was just for test prep. We hope that we helped you reach your goals and we wish you the best in everything you do.</p>
<p>Before you go, please take a few minutes to complete this survey. We're always looking to improve our services and your input is invaluable.</p>
<p>We'll always keep your account safe and sound in case you want to come back. So you come back any time now, ya hear?</p>
<p>Thanks again!</p>
<p>The studimetrics squad</p>
<p style="color: #aaa; font-size: 12px; margin: 12px 0 0;">Email: <%= mail_to "support@studimetrics.com" %></p>
<p style="color: #aaa; font-size: 12px; margin: 12px 0 0;">Need assistance? Simply reply to this email and we'll get back to you as soon as possible!</p>
</div>
</body>
</html>
