///////////////////////////////////////////////////////////////////////////////
//
//  Global Variables
//
///////////////////////////////////////////////////////////////////////////////


// Colors
///////////////////////////////////////////////////////////////////////////////

$blue: #2063fd;
$dark-gray: #333;
$light-gray: #e8e8e8;
$almost-white: #f6f6f6;
$light-red: #B90504;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;
$dark-green: #308000;
$red: #990100;

//  Font Colors
$base-font-color: $dark-gray;

//  Text Link Colors
$base-link-color: $blue;
$hover-link-color: darken($blue, 15%);

// Border color
$base-border-color: $light-gray;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;
