= breadcrumbs 'Admin' => admin_path, resource_class.name.pluralize => collection_path

.action-links
  = link_to "Delete #{resource_class.name.titleize}", resource_path(resource), method: 'delete', data: { confirm: 'Are you sure?' }

h3 = "Editing #{resource_class.name} ##{resource.id}"

= render 'form'
