= breadcrumbs 'Admin' => admin_path, 'Practice Tests' => collection_path, 'Sections' => admin_practice_test_sections_path(parent)
= action_links "Edit Section" => edit_resource_path, 'Edit Questions' => admin_section_questions_path(resource)

h3 = "#{resource_class.name.titleize} ##{resource.id}"

= render 'resource_details'
