button, a.button, input[type="submit"] {
  background: $blue;
  border: none;
  border-bottom: 3px solid darken($blue, 10%);
  color: #fff;
  padding: 12px;
  font-size: 1.2em;
  color: #fff;
  border-radius: 4px;
  display: inline-block;
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    color: lighten($blue, 38%);
  }

  &[data-disabled], &[disabled] {
    cursor: normal;
    color: #eee;
    background: #ddd;
    border-bottom: 3px solid #ccc;
  }
 
  &.red {
    background: $red;
    border-bottom: 3px solid darken($red, 10%);
  }

  &.dark-gray {
    background: $dark-gray;
    border-bottom: 3px solid darken($dark-gray, 10%);
  }

  &.yellow {
    background: $yellow;
    border-bottom: 3px solid darken($yellow, 10%);
    color: shade($yellow, 40%);
  }
}
