html, body {
  height: 100%;
}

body {
  background: $light-gray;

  &.high_voltage-pages {
    background: #fff;
  }
}

a:link, a:visited {
  text-decoration: none;
}

header {
  position: relative;
  z-index: 2;

  .bar {
    @include clearfix;
    padding: 10px;
    @include linear-gradient(tint($red, 12%), $red);
    border-bottom: 1px solid shade($red, 30%);

    a {
      color: $almost-white;
      font-weight: bold;

      &:hover {
        color: shade($almost-white, 10%);
      }
    }
  }

  .or {
    color: tint($red, 40%);
    display: inline-block;
    margin: 0 10px;
  }

  .sign-up {
    background: tint($red, 24%);
    border-radius: 4px;
    display: inline-block;
    padding: 2px 6px;
  }
}

.big-header {
  color: $almost-white;
  text-align: center;
  margin: 4%;
  font-size: 1.2rem;

  p {
    color: #e6c7c8;
    font-size: 1.1rem;
  }
}

#main-container, .container {
  @include outer-container;
}

#main-wrapper {
  margin-top: 20px;
  min-height: 80%;
}

#main-content {
  @include span-columns(9);
  @include pad;
  background: #fff;
  margin-bottom: 20px;
  border: 1px solid tint($gray, 60%);
}

.profiles {
  #main-content {
    padding: 0;
  }
}

.high_voltage-pages, .clearance-users, .users, .clearance-sessions, .clearance-passwords {
  #main-content {
    float: none;
    margin: 20px auto;
    width: auto;
    background: none;
    border: none;
  }
}

#main-container {
  margin: 0 auto 60px auto;
  background: $almost-white;
}

#logo {
  float:left;
  font-size: 1.5em;
  font-weight: normal;

  a {
    font-weight: normal;
    text-decoration: none;
  }
}

#main-menu {
  float: right;

   ul {
     margin: 0;
     padding: 0;
     list-style: none;
   }

   li {
     margin-left: 20px;
     display: inline-block;
   }
}

#user-info-and-test-info {
  @include outer-container;
  margin-bottom: 18px;
  padding-top: 36px;

  #user-info {
    @include span-columns(9);

    span {
      display: inline-block;
      margin-right: 10px;
    }

    .subject {
      padding: 2px;
      background: #ccc;
      text-align: center;
      width: 34px;
    }
  }
  #test-info {
    @include span-columns(3);

    span.title {
      display: inline-block;
      color: $dark-gray;
      font-weight: bold;
      width: 120px;
    }
    span.test {
      color: $red;
      margin-right: 10px;
    }
    span.section {
      color: $red;
      margin-left: 5px;
    }
  }
}

#submenu {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: none;

  a {
    text-decoration: none;
  }

  li {
    display: inline-block;
    margin: 0 20px;
    padding: 10px 20px;

    &:active {
      border-bottom: 2px solid #960102;
    }
  }
}

#footer {
  background: $dark-gray;
  color: $almost-white;
  min-height: 160px;
  margin-top: 60px;
}

[data-behavior~="dropdown"] {
  cursor: pointer;
  float: left;
  padding: 4px;

  &:hover {
    background: tint($dark-gray, 8%);
  }
}

.reveal-modal {
  .title {
    margin-bottom:12px;
  }

  img {
    float: left;
    margin: 0 10px 10px 0;
  }

  .modal-buttons {
    margin-top: 20px;
  }
}

.modal-button {
  clear: left;
  display: inline-block;
  margin: 0 auto;
}

table {
  img {
    max-height: 30px;

    &.large {
      max-height: 80px;
    }
  }
}

a.learn-more {
  color: $blue;
  display: inline-block;
  margin-right: 20px;
  font-size: 14px;
  font-weight: bold;

  .arrow {
    display: inline-block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent $blue;
    display: inline-block;
    margin-left: 6px;
    vertical-align: middle;
    opacity: 0.8;
  }
}

.wrapper {
  @include clearfix;
  position: relative;
}

.dropdown-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #fff;
  width: 216px;
  color: $dark-gray;
  padding: 10px;
  font-size: 15px;
  margin-top: 2px;
  border-radius: 4px;
  display: none;
  position: absolute;
  top: 1.9em;
  z-index: 999;
  border: 1px solid shade($almost-white, 10%);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);

  li {
    padding: 2px;

    &.active {
      background: $gray;

      a {
        color: $almost-white;
      }
    }
  }
}

.field_with_errors {
  margin-bottom: 12px;
  
  input {
    margin-bottom: 2px;
  }
}

.error {
  font-size: 14px;
  color: $light-red;
}

.tt-dropdown-menu {
  width: 300px;
  margin-top: -4px;
  padding: 14px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  
  .tt-suggestion {
    padding: 4px;
  }

  .tt-is-under-cursor {
    background: $blue;
    color: $almost-white;
    font-weight: bold;
  }
}

#footer {
  padding: 18px;

  h3 {
    margin-top: 0;
  }

  p.note {
    text-align: center;
    font-size: 11px;
    margin-top: 24px;
  }

  .info {
    @include span-columns(3);
    color: shade($almost-white, 10%);

    h3 {
      color: $almost-white;
      font-size: 24px;
      line-height: 28px;
    }
  }

  .misc {
    @include span-columns(3);
    @include omega;

    h5 {
      margin-bottom: 24px;
      font-size: 1em;
      line-height: 1.2rem;
    }

    h6 {
      line-height: 1rem;
      font-size: 0.8rem;
    }
  }

  .nav {
    @include span-columns(6);

    ul {
      margin-top: 0;
      margin-left: 0;
      padding: 0;
      list-style: none;
      text-align: center;

      li {
        width: 70px;
        border: 1px solid #555;
        text-align: center;
        padding: 4px;
        display: inline-block;
        margin: 0 8px 8px;
      }

      a {
        color: $almost-white;
      }
    }
  }
}

.wizard {
  .step {
    display: none;
  }

  .active {
    display: block;
  }
}

ul.numbers {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 2em;
  line-height: 2.0625rem;
  text-align: center;

  li {
    width: 9%;
    display: inline-block;
    vertical-align: middle;
    min-width: 60px;
    opacity: 0.3;

    &.active {
      opacity: 1;
    }

    &.line {
      width: 24%;
      height: 3px;
      border-top: 3px solid shade($light-gray, 10%);
    }
  }

  .number {
    @include linear-gradient($almost-white, shade($almost-white, 10%));
    width: 60px;
    height: 60px;
    color: $dark-gray;
    border-radius: 30px;
    line-height: 52px;
    border: 4px dotted tint($dark-gray, 30%);
    margin: 0 auto;
  }

}
