#clearance {
  margin: 100px auto;
  border: 1px solid #ddd;
  width: 40%;
  border-radius: 4px;
  background: #fff;

  h2 {
    background: $blue;
    color: #fff;
    padding: 6px 20px;
    margin: 0;
    font-size: 22px;
  }

  p {
    padding: 18px;
    margin: 0;
  }

  form {
    padding: 20px;
  }

  input[type="email"], input[type="password"] {
    @include fill-parent;
  }

  .password-field {
    label, span {
      display: inline-block;
    }
  }
}

.forgot-password {
  font-weight: bold;
  font-size: 12px;
  margin-left: 2px;
}

.clearance-sessions, .clearance-passwords {
  #main-content {
    background: none;
    margin: auto;
    float: none;
    width: auto;
  }
}

.signup-left {
  margin-top: 24px;
  @include span-columns(5);
  min-height: 435px;

  fieldset {
    legend {
      text-transform: uppercase;
      color: $gray;
      font-size: 1.1rem;
      font-weight: bold;
    }
  }

  .submit-field, .button {
    margin-top: 18px;
  }
}

.signup-right {
  margin-top: 24px;
  @include span-columns(7);
  @include omega;
}

.signup-bullets {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    line-height: 1.7em;
  }
}

.login-link {
  margin-top: 20px;
  display: block;
  text-align: center;
  clear: both;
}

.user_card_month {
  select {
    display: inline-block;
    width: 137px;
    margin-right: 20px;
  }
}

.clearance-users-new, .users-create {
  #main-wrapper {
    background: #fff;
    padding-bottom: 20px;
  }

  h2 {
    color: $blue;
  }

  h3 {
    font-size: 19px;
    line-height: 24px;
  }
}

.callout {
  background: $gray;
  padding: 12px;
  font-size: 22px;
  color: #fff;
  border-radius: 4px;
  margin-right: 10px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;

  .subtitle {
    margin-top: 4px;
    font-size: 12px;
  }
}
