#clearance {
  margin: 100px auto;
  border: 1px solid #ddd;
  width: 40%;
  border-radius: 4px;
  background: #fff;

  h2 {
    background: $blue;
    color: #fff;
    padding: 6px 20px;
    margin: 0;
    font-size: 22px;
  }

  p {
    padding: 18px;
    margin: 0;
  }

  form {
    padding: 20px;
  }

  input[type="email"], input[type="password"] {
    @include fill-parent;
  }

  .password-field {
    label, span {
      display: inline-block;
    }
  }
}

.forgot-password {
  font-weight: bold;
  font-size: 12px;
  margin-left: 2px;
}

.clearance-sessions, .clearance-passwords {
  #main-content {
    background: none;
    margin: auto;
    float: none;
    width: auto;
  }
}

.signup-left {
  @include span-columns(6);

  .submit-field {
    margin-top: 10px;
  }
}

.signup-right {
  @include span-columns(6);
}

.signup-bullets {
  margin: 0;

  li {
    line-height: 1.7em;
  }
}

.login-link {
  margin-top: 20px;
}
