.team-wrapper {
  margin-top: 40px;
  text-align: center;
}

p.about {
  text-align: center;
  padding-left: 180px;
  padding-right: 180px;
}


.team {
  @include span-columns(10);
  @include shift(1);
  margin-top: 24px;
  .h3 {
    text-align: center;
  }
}

.team-member {
  @include span-columns(5 of 10);
  @include omega(2n);
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 24px;

  .name {
    font-size: 22px;
  }

  .title {
    color: $gray;
  }

  .description {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: $dark-gray;
    font-size: 15px;
    text-align: left;
  }
}

#ryan {
  padding-top: 9px;

}
#andrew {

}
#charlie {

}
#sam {

}
