.team-wrapper {
  margin-top: 40px;
  text-align: center;
}

.team {
  @include span-columns(10);
  @include shift(1);
  margin-top: 24px;
}

.team-member {
  @include span-columns(5 of 10);
  @include omega(2n);
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 24px;

  .name {
    font-size: 22px;
  }

  .title {
    color: $gray;
  }
}
