@import 'normalize';
@import 'bourbon';
@import 'neat';
@import 'bitters/base';

@import 'buttons';

@import 'global';

#main-container {
  margin-top: 20px;
}

#sidebar {
  margin-top: 20px;
  @include span-columns(2);

  h3 {
    margin-top: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    a {
      text-decoration: none;
    }
  }
}

#main {
  margin-top: 20px;
  @include span-columns(10);
}

.breadcrumbs {
  a {
    display: inline-block;
  }
  span {
    display: inline-block;
  }
  .divider {
    margin: 0 10px;
  }
}

.action-links {
  text-align: right;

  a {
    display: inline-block;
    margin-left: 10px;
  }
}

td.actions {
  a {
    display: inline-block;
    margin-right: 4px;
  }
}

.admin-block {
  margin-bottom: 40px;
}

.input.boolean {
  margin-bottom: 2.0625rem;
}
