.concept-image {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;

  img {
    max-height: 16px;
  }
}

.concept-name {
  display: inline-block;
  vertical-align: middle;
}

#concept-videos {
  @include pad;

  h3 {
    margin-top: 0;
    margin-bottom: 14px;
  }

  h6 {
    margin-bottom: 10px;
    color: tint($dark-gray, 15%);

    .concept-image {
      max-height: 18px;
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .videos {
    @include clearfix;
    margin-bottom: $gutter;

    .video {
      @include span-columns(3 of 9);
      @include omega(3n);
    }
  }

  .video {
    text-align: center;
    margin-bottom: 24px;

    img {
      max-width: 100%;
      padding: 3px;
      border: 1px solid shade($light-gray, 10%);
      border-radius: 4px;
    }

    .caption {
      text-align: center;
      padding-bottom: 4px;
      display: block;

      span {
        display: inline-block;
        vertical-align: middle
      }

      .watched-indicator {
        font-size: 36px;
        color: $blue;
        margin-right: 2px;
        display: none;
      }
    }
  }

  .video {
    .unwatched {
      color: #333;

      .caption {
        .watched-indicator {
          display: inline-block;
        }
      }
    }
  }
}

#concepts {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.view-passage-link {
  text-align: center;
}
