#feature {
  margin: 0 auto;
  padding: 20px 0;
  @include clearfix;
  @include background(linear-gradient(rgba(0,0,0,0.1) 50%,rgba(0,0,0,0.3) 100%), asset-url('landing/chalkboard.jpg') no-repeat center bottom);
  background-size: cover;
  height: 480px;

  h1 {
    font-size: 3em;
    line-height: 1.1em;

    .highlight {
      color: shade($almost-white, 10%);
    }
  }
}

.landing-page {
  #main-wrapper, #main-content {
    max-width: none;
    padding: 0;
    margin: 0;
  }
  #footer {
    margin-top: 0;
  }
}

#boost {
  text-align: center;
  width: 48%;
  float: right;
  margin-right: 8%;
  margin-top: 20px;
  color: $almost-white;
  @include radial-gradient(rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 40%);

  p {
    background: rgba(0,0,0,0.5);
    margin-top: 25px;
    padding: 4% 10%;
    font-size: 20px;
  }
}

#big-button {
  font-size: 1.6em;
  padding:18px;
  margin: 24px 0;
  background: $orange;
  border-bottom-color: shade($orange, 15%);
  color: $almost-white;
}

#bullets{
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
  @include pad;
  padding-top: 40px;
  background: $light-gray;
  @include clearfix;

  a {
    color: shade($blue, 20%);
  }

  .bullet {
    @include span-columns(5);
    @include omega(2n);
    margin-bottom: 24px;

    &:nth-child(2n+1) {
      @include shift(1);
    }

    h4 {
      font-size: 1.3em;
      color: $red;
    }
  }
}

#pricing {
  background: $blue;
  min-height: 150px;
  color: $almost-white;
  @include pad;
  border-bottom: 1px solid shade($blue, 20%);

  .price-block {
    @include span-columns(5);
    text-align: center;
    border-right: 1px dashed shade($blue, 20%);

    h2 {
      font-size: 3.2em;
      margin-bottom: 12px;
    }

    h5 {
      font-weight: normal;
    }

    ul {
      list-style: none;
      margin: 20px auto;
      padding: 0;
      text-align: left;
      width: 44%;
    }

    li {
      vertical-align: middle;
    }
  }

  .bottom-subscribe-block {
    @include span-columns(7);
    text-align: center;
    margin-top: 22px;
  }
}

.ss-check::before {
  margin-right: 4px;
  vertical-align: middle;
}

#screenshots {
  .screenshot {
    margin: 6% 0 8% 0;
    @include row;

    img {
      @include span-columns(5);
    }

    .description {
      @include span-columns(7);
    }
  }
}

#how-it-works {
  background: $light-gray;
  color: shade($gray, 40%);
  @include pad(2%);
  text-align: center;
  border-top: 1px solid shade($light-gray, 10%);
  border-bottom: 1px solid shade($light-gray, 10%);

  h2 {
    font-size: 2.5rem;
    line-height: 2.7rem;
    margin-bottom: 32px;
  }

  li {
    opacity: 1;
  }

  ul.how-it-works-points {
    li {
      width: 33%;
      padding: 20px;
      vertical-align: top;
    }
  }

  p.note {
    font-size: 12px;
    color: shade($light-gray, 40%);
  }

  .number {
    @include linear-gradient($almost-white, shade($almost-white, 10%));
    width: 60px;
    height: 60px;
    color: $dark-gray;
    border-radius: 30px;
    line-height: 52px;
    border: 4px dotted tint($dark-gray, 30%);
    margin: 0 auto;
  }

  h3 {
    font-size: 0.75em;
  }
}

#why-studi {
  @include pad(2% 0 3% 0);
  text-align: center;
}

.testimonial {
  position: relative;
  margin: 112px 20px 0 20px;
  width: 230px;
  display: inline-block;
  .source {
    height: 85px;
    color: $red;
    font-weight: bold;

    .from {
      font-weight: normal;
      font-style: italic;
    }
  }

  .photo {
    float: none;
    margin: 0 auto;
    max-height: 48px;

    img {
      width: 48px;
      height: 48px;
      border-radius: 24px;
      border-color: shade($almost-white, 10%);
    }
  }

  .body {
    position: absolute;
    bottom: 97px;
    left: 55%;
    z-index: 999;
    width: 230px;
    height: 145px;
    margin-left: -127px;
    padding: 10px;
    border: 2px solid #ccc;
    opacity: .9;
    background-color: #ddd;
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0));
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.4), 0 1px 0 rgba(255,255,255,0.5) inset;
    text-shadow: 0 1px 0 rgba(255,255,255,.4);

    &:before, &:after {
      content: "";
      position: absolute;
      z-index: 1000;
      bottom: -7px;
      left: 50%;
      margin-left: -8px;
      border-top: 8px solid #ddd;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 0;
    }
  }
}

.testimonial .body:before,
.testimonial .body:after
{
}

.testimonial .body:before
{
  border-top-color: #ccc;
  bottom: -8px;
}
