#feature {
  padding: 20px 0;
  border-bottom: 4px solid $red;
  @include clearfix;

  .info {
    @include span-columns(6);
  }

  .graphic {
    @include span-columns(6);

    img {
      max-width: 100%;
    }
  }

  h1 {
    font-size: 3em;
    line-height: 1.1em;

    .highlight {
      color: $red;
    }
  }

  p {
    font-size: 1.1em;
  }

  .feature-links {
    margin-top: 18px;
  }
}
