.test-header {
  @include clearfix;
  background: #eee;
  border-bottom: 1px solid darken(#eee, 10%);

  .wrapper {
    margin: 18px;
  }
}

.test-info {
  h3, h4 {
    margin: 0;
  }
}

#question-list {
  @include span-columns(5 of 9);
  @include pad;

  &[data-disabled] {
    opacity: 0.5
  }
}

#test-timer {
  float: left;
  width: 320px;
  margin-top:24px;
  text-align: center;

  &.scroll-to-fixed-fixed {
    margin-top: 0;
  }

  .wrapper {
    padding: 14px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  
  h5 {
    border: 1px solid darken(#aaa, 10%);
    @include linear-gradient(#aaa, darken(#aaa, 30%));
    padding: 10px;
    color: #fff;
  }

  .button {
    margin-top: 18px;
  }
}

#timer-content {
  span {
    display: block;
    margin-top: 10px;
    font-size: 40px;
    font-weight: bold;
  }
}

.question {
  margin-bottom: 10px;
  font-size: 26px;
  line-height: 33px;
  @include no-select;

  .question-number, .inputs {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
  }
  
  .string {
    display: inline-block;
    vertical-align: middle;
  }

  input.string {
    margin-top: 12px;
  }

  .radio {
    height: 54px;

    label {
      font-size: 26px;
      cursor: pointer;

      &:before {
        border-radius: 20px;
        content: "";
        display: inline-block;
        width: 40px;
        height: 40px;
        position: absolute;
        z-index: -1;
        left: -10.5px;
        bottom: 1px;
        box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8);
      }

    }

    span {
      position: relative;
      margin-top: 9px;
      margin-right: 30px;
      vertical-align: middle;
      display: inline-block;

      &:last-child label:before {
        width: 80px;
        border-radius: 6px;
      }
    }

  }

  input[type=radio] {
    display: none;

    &:checked + label:before {
      background: #555;
    }
    
    &:checked + label {
      color: #777;
    }
  }
}
